- content_for :section do
  - if @milestone.new_record?
    New Milestone for #{@project.name}
  - else
    Edit Milestone #{@milestone.name}

= form_for [@project, @milestone] do |f|
  - if @milestone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@milestone.errors.count, "error")} prohibited this milestone from being saved:"
      %ul
        - @milestone.errors.full_messages.each do |message|
          %li= message

  .mt-3
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .mt-3
    = f.label :start_date
    = f.date_field :start_date, class: 'form-control'
  .mt-3
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .actions.mt-3
    = f.submit 'Save', class: 'btn btn-primary'
