%p#notice= notice

%p
  %b Project:
  = @reminder.project
%p
  %b Start date:
  = @reminder.start_date
%p
  %b Topic:
  = @reminder.name

= link_to 'Edit', edit_project_reminder_path(@project,@reminder)
\|
= link_to 'Back', project_path(@project)
