.container
  .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
    = link_to root_path, class: 'd-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-4' do
      = image_tag '/icon.svg', class: 'me-2', role: 'img', aria: {label: 'Yarp swan logo'}, width: 32
      %span.fs-4 Flightplan

    - if user_signed_in?
      %ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0.me-lg-auto
        %li.nav-link.px-2.link-body-emphasis= link_to 'Projects', projects_path
        %li.nav-link.px-2.link-body-emphasis= link_to 'Runway', runways_path
        - if policy(User).index?
          %li.nav-link.px-2.link-body-emphasis= link_to 'Users', admin_users_path
      %ul.nav
        %li.nav-link.px-2.link-body-emphasis= link_to 'Profile', edit_user_registration_path, class: 'ms-auto'
        %li.nav-link.px-2.link-body-emphasis= link_to 'Sign out', destroy_user_session_path,  data: { turbo_method: :delete }
