- content_for :section do
  - if @project.new_record?
    New Project
  - else
    Edit Project #{@project.name}

= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .mb-3
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .mb-3
    .row
      .col
        = f.label :start_date
        = f.date_field :start_date, class: 'form-control'
      .col
        = f.label :end_date
        = f.date_field :end_date, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
