- content_for :section do
  = @project.name

%p#notice= notice


%div.bg-white.border{
  data: {
    controller: 'timeline',
    turbo_cache: false,
    timeline_labels_value: [@project.name],
    timeline_dates_value: [iso_date_range(@project)],
    timeline_milestones_value: [@project.milestones.map { |m| m.start_date.iso8601}]
  } }
  %div{ data: { timeline_target: 'chart' } }

%div.bg-white.border.my-3.p-3
  - if @project.description.present?
    %p.lead= @project.description

  %strong Project lifecycle
  %div
    - if @project.start_date < Date.today
      Started #{@project.start_date.to_fs(:long)} (#{time_ago_in_words(@project.start_date)} ago),
      = number_to_percentage(percentage_of_project_complete(@project), precision: 2)
      complete,
    - elsif @project.start_date == Date.today
      Starting today
    - else
      Starts #{@project.start_date.to_fs(:long)} (#{time_ago_in_words(@project.start_date)} from now)

    - if @project.end_date < Date.today
      ending #{@project.end_date.to_fs(:long)} (#{time_ago_in_words(@project.end_date)} ago),
    - elsif @project.end_date == Date.today
      ending today,
    - else
      ending #{@project.end_date.to_fs(:long)} (#{time_ago_in_words(@project.end_date)} from now),

    with a duration of about #{distance_of_time_in_words(@project.start_date, @project.end_date)}.

  .mt-3
    = link_to 'New Milestone', new_project_milestone_path(@project), class: 'btn btn-primary btn-sm'

%div.bg-white.border.my-3.p-3
  %h3 Milestones
  - if @project.milestones.any?
    %table.table.table-sm.table-striped
      %thead
        %tr
          %th Name
          %th Date
          %th Actions
      %tbody
        - @project.milestones.each do |milestone|
          %tr
            %td= link_to milestone.name, project_milestone_path(@project, milestone)
            %td= milestone.start_date&.to_fs(:long)
            %td
              = link_to edit_project_milestone_path(@project, milestone), class: 'btn btn-outline-primary btn-sm me-2' do
                %i.bi-pencil
              = link_to project_milestone_path(@project, milestone), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm me-2' do
                %i.bi-trash
  - else
    %p No milestones yet.


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
