Flightplan reminder
===================

This is your reminder for the project:
= @project.name

= "-------------------"

= @reminder.name

Due #{@project.start_date.to_formatted_s(:long)}

= project_url(@project)
